# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Виртуальные окружения
venv/
.venv/

# Переменные окружения (НИКОГДА не пушить!)
.env
*.env

# Django
*.sqlite3
staticfiles/

# Docker
.dockerignore
